* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(37, 37, 37);
    font-family: Helvetica;
}
body {
    background-color: #ffae00;
}
h2 {
    margin-bottom: 25px;;
}
/* Container principal */
#main-container {
    background-color: #ffc400;
    position: relative;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
#add-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 174, 0);
}
#add-container input, button {
    padding: 10px;
    background-color: #ffd000;
    border: none;
    width: 80%;
    display: inline;
}
#add-container button {
    width: 18%;
    cursor: pointer;
    transition: .5s;
    color: #ff7066;
}
#add-container button:hover {
    color: #FF7066;
}
#add-container button:hover >i{
    color: #ffa600;
}
.task {
   margin-bottom: 15px;
   padding-bottom: 15px;
   border-bottom: 1px solid rgb(255, 174, 0);
   position: relative;
}
.hide {
    display: none;
}
.task:hover .fa-trash {
    display: block;
}
.fa.fa-check {
    border-radius: 50%;
    border: 1px solid rgb(255, 174, 0);
    padding: 7px;
}
.fa.fa-check.done {
    color: #0dd657;
    border: 1px solid #0dd657;
}
.fa.fa-check:hover, .fa.fa-trash:hover{
    color: #ff7066;
    border: 1px solid #fa7066;
}
.fa.fa-trash {
    position:absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: none;
}
/* MOBILE */
@media(max-width:480px){
    body {
    padding: 20px;
    }
    h2 {
       text-align: center;
    }
    #main-container {
        max-width: 100%;
        margin-top: 0;
    }
    .fa.fa-trash {
        display: block;
    }
}